@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Fake Coffee Biz</h1>
	<p class="lead">My Coffee biz is a complete and total sham. I'm a hack fraud. With That being said, please contiune to the Register page to
		to sign up for my services.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Here you will be able to sign up for our monthly serves. 
        </p>
	    <p><a class="btn btn-default" @Html.ActionLink("Registrations","Index","Registrations")</a></p>
    </div>
    
</div>