<h2>Registration Page</h2>

<form method="get" action="Result">
	<p>Name </p> <input type="text" name="firstname" value="" /><br/>
	<p> Email</p> <input type="email" name="email" value="" /><br/>
	<p> Password</p> <input type="password" name="password" value="" /><br/>
	<input type="submit" />
</form>